#header{
    width: 1000px;
    margin: 0 auto;
}

#header .gnb_left{
    position: absolute;
    top:15px;
    left:205px;
}
#header .gnb_left ul{
    list-style-type: none;
    padding-left:0px;
}
#header .gnb_left ul li{
    display:inline;

}
#header .gnb_left ul li a{}
#header .gnb_left ul li a img{}

#header .gnb_right{
    position: absolute;
    top:15px;
    right:205px;
}
#header .gnb_right ul{
    list-style-type: none;
    padding-left:0px;
}
#header .gnb_right ul li{
    display:inline;
}
#header .gnb_right ul li a{}

#header .logo{
    text-align: center;
    padding-top: 100px;
}
#header .logo a{}
#header .logo a img{}

#header .search_box{
    text-align: center;
    margin: 0 auto;
    width: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-radius: 61px;
    border-color:#4772e7;
    border-style: solid;
    border-width:5px;
}
#header .search_box .text_area{
    width:580px;
    background-color:#ffffff;
    outline:none;
    border-width: 0;
    font-size: 20px;
}
#header .search_box .submit_btn{
    background-color: #ffffff;
    outline:none;
    border-width: 0;
    font-size:20px;
}
/*
#header .menu{
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top:10px;
}
#header .menu .menu1{
    display: inline;
    float:left;
    padding-right: 20px;
}

#header .menu .menu2{
    padding-right: 20px;
    display: inline;
    float:left;
}
#header .menu .menu3{
    padding-right: 20px;
    display: inline;
    float:left;
}*/
.menu_image{
    width:40px;
    height: auto;
}
.menu_text{
    margin:0px;
}

#header .menu_div{
    display: flex;
    justify-content: center;
}
#header .menu_div ul{
    padding-left:0px;
}
#header .menu_div ul .menu_li{
    list-style-type: none;
    display:inline;
    width:50px;
    float: left;
    padding-left:10px;
    padding-right:10px;
}
#header .menu_div ul .menu_li span{
    display:block;
}

#main{
    margin:0px;
    padding: 0px;
}

#main .main_h1{
    color:#ffffff;
    background-color: #000000;
    text-align: center;
    height: 100px;
}

#footer{
    background-color: #e1e1e1;
    margin:0px;
    padding:0px;
}
#footer .footer_span{
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    font-size: 10px;
}